<!DOCTYPE html>

<% var lang = 'en', title; %>

<html lang="<%= lang %>">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<%- include('menu') -%>